<a href="https://colab.research.google.com/github/AjayChauhan97/MyDataSciRepo/blob/main/python_CC_3_Feb_2022_8_pm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('is this ON?')

is this ON?

In [ ]:
# list
## lists in python are represented by []

# empty list
emptyList = []

## non -empty list
player = ['ronaldo', 7, 1.87, True]
print(player, type(player))

## another list
groccery = [3, 'tables', 3, 'chairs', 0.5, 'apples', ['ronaldo', 7, 1.87, True]]
print(groccery, type(groccery))

# a list can store any data type (even a list)
# a list can store duplicates

['ronaldo', 7, 1.87, True] <class 'list'>
[3, 'tables', 3, 'chairs', 0.5, 'apples', ['ronaldo', 7, 1.87, True]] <class 'list'>

In [ ]:
# indexing in a list
## 0 indexing

########      0         1          2      3
avengers = ['thor', 'iron-man', 'hulk', 'cap']
########     -4         -3        -2      -1

print(avengers[0], avengers[-4])
print(avengers[2], avengers[-2])
print(avengers[3], avengers[-1])

thor thor
hulk hulk
cap cap

In [ ]:
# slicing
########      0         1          2      3
avengers = ['thor', 'iron-man', 'hulk', 'cap']
########     -4         -3        -2      -1
print(avengers[0], avengers[-0])
# start, end, step=1 ## end is not included # [start:end:step] # step by default is 1
# start=1, end=3, step=1 >>'iron-man', 'hulk'
print(avengers[1:3:1], avengers[1:3])
# start=-3, end=-1, step=1 >>'iron-man', 'hulk'
print(avengers[-3:-1:1], avengers[-3:-1])
# start=2, end=0, step=-1>>'hulk', 'iron-man'
print(avengers[2:0:-1])
# start=0, end=3, step=2>>'thor', 'hulk'
print(avengers[0:3:2])
print(avengers[0:3:1])
print(avengers[-4:-1:1])
print(avengers[-4:3:1])

print(avengers[:3:1]) #['thor', 'iron-man', 'hulk'
print(avengers[1::1]) # 'iron-man', 'hulk', 'cap']

print(avengers[1::-1]) #'iron-man' , thor
print(avengers[:-2:-1]) # cap

thor thor
['iron-man', 'hulk'] ['iron-man', 'hulk']
['iron-man', 'hulk'] ['iron-man', 'hulk']
['hulk', 'iron-man']
['thor', 'hulk']
['thor', 'iron-man', 'hulk']
['thor', 'iron-man', 'hulk']
['thor', 'iron-man', 'hulk']
['thor', 'iron-man', 'hulk']
['iron-man', 'hulk', 'cap']
['iron-man', 'thor']
['cap']

In [ ]:
########      0         1          2      3
avengers = ['thor', 'iron-man', 'hulk', 'cap']
########     -4         -3        -2      -1

print(avengers[::1])
print(avengers[:])# step by default is 1

print(avengers[::-1])

['thor', 'iron-man', 'hulk', 'cap']
['thor', 'iron-man', 'hulk', 'cap']
['cap', 'hulk', 'iron-man', 'thor']

In [ ]:
avengers = ['thor', 'iron-man', 'hulk', 'cap']

for myHero in avengers:
    print(myHero)

thor
iron-man
hulk
cap

In [ ]:
avengers = ['thor', 'iron-man', 'hulk', 'cap']
print(avengers)
print(avengers[0])

avengers[0] = 'god of thunder'
print(avengers)

avengers[1] = False
print(avengers)

# lists are editable/ mutable
# we can update any element to any other data type as well

['thor', 'iron-man', 'hulk', 'cap']
thor
['god of thunder', 'iron-man', 'hulk', 'cap']
['god of thunder', False, 'hulk', 'cap']

In [ ]:
avengers = ['thor', 'iron-man', 'hulk', 'cap']
print(avengers)
# append
# /əˈpɛnd/
# verb
# add (something) to the end of a written document.
# "the results of the survey are appended to this chapter"
avengers.append('gamora')
print(avengers)

# insert
avengers.insert(1, 'loki')#Insert element before a sepcific index.
print(avengers)

['thor', 'iron-man', 'hulk', 'cap']
['thor', 'iron-man', 'hulk', 'cap', 'gamora']
['thor', 'loki', 'iron-man', 'hulk', 'cap', 'gamora']

In [ ]:
# extend
avengers = ['thor', 'iron-man', 'hulk', 'cap']
print(avengers)
DC = ['batman', 'superman', 'aquaman']
print(DC)

avengers.extend(DC)
print(avengers)
print(DC)

['thor', 'iron-man', 'hulk', 'cap']
['batman', 'superman', 'aquaman']
['thor', 'iron-man', 'hulk', 'cap', 'batman', 'superman', 'aquaman']
['batman', 'superman', 'aquaman']

In [ ]:
# removing
avengers = ['thor', 'iron-man', 'hulk', 'cap']
avengers.insert(1, 'loki')
avengers.insert(3, 'thanos')
avengers.append('thanos')
print(avengers)

# remove >> removes first occurenece of the lement by value
avengers.remove('thanos')
print(avengers)

# getting rid of an element by index
del avengers[1]
print(avengers)
print('the slice',avengers[::2])
del avengers[::2]
print(avengers)

['thor', 'loki', 'iron-man', 'thanos', 'hulk', 'cap', 'thanos']
['thor', 'loki', 'iron-man', 'hulk', 'cap', 'thanos']
['thor', 'iron-man', 'hulk', 'cap', 'thanos']
the slice ['thor', 'hulk', 'thanos']
['iron-man', 'cap']

In [ ]:
# sorting
avengers = ['thor', 'iron-man', 'hulk', 'cap']
print(avengers)
avengers.sort()
print(avengers)

avengers = [10,1,11,2,13,5,17]
print(avengers)
avengers.sort()
print(avengers)
avengers.sort(reverse=True)
print(avengers)

['thor', 'iron-man', 'hulk', 'cap']
['cap', 'hulk', 'iron-man', 'thor']
[10, 1, 11, 2, 13, 5, 17]
[1, 2, 5, 10, 11, 13, 17]
[17, 13, 11, 10, 5, 2, 1]

In [ ]:
# quick search
avengers = ['thor', 'iron-man', 'hulk', 'cap']
print('hulk' in avengers)
print('groot' in avengers)

True
False

In [ ]:
avengers = ['thor', 'iron-man', 'hulk', 'cap', 'hulk', 'hulk']
for myHero in avengers:
    if myHero=='hulk':
        print('HULK FOUND')
        break

HULK FOUND

In [ ]:
coins = [1,2,5,6,5,7,8,5,10]
# count how many 5 rs coins I have
count=0
for coin in coins:
    if coin==5:
        count=count+1 # count+=1
# count+=1 this is same as count = count + 1
print(f'I found 5 rs coin {count} times')
print(f'I found 5 rs coin {coins.count(5)} times')

I found 5 rs coin 3 times
I found 5 rs coin 3 times

In [ ]:
# find the exact location of the first occurence
coins = [1,2,5,6,5,7,8,5,10]
thisIstheVarThatWillStoreThePosition = 0
for coin in coins:
    if coin==5:
        print(f'found 5 at {thisIstheVarThatWillStoreThePosition}')
        break
    else:
        thisIstheVarThatWillStoreThePosition+=1
print(f'found 5 at {coins.index(5)}')

found 5 at 2
found 5 at 2

In [ ]:
for coin in coins:
    if coin==5:
        print(f'found 5 at {thisIstheVarThatWillStoreThePosition}')
    thisIstheVarThatWillStoreThePosition+=1

found 5 at 4
found 5 at 6
found 5 at 9

In [ ]:
# tuples

## empty tuple>>()
empty_tuple = ()
print(empty_tuple, type(empty_tuple))

days = ('sun', 'mon', 'tue', 'wed' ,'thu', 'fri' ,'sat')
print(days, type(days))

# read
print(days[3], days[-4])

## searching
print('thu' in days)

# tuples are immutable/ non editable , neither the values or the order of values can change
# # update
# days[0] ='fun day'

###########
# tuple
# do something to the tuple
# tuple should be unchanged

() <class 'tuple'>
('sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat') <class 'tuple'>
wed wed
True

In [ ]:
# packing and unpacking
flavours = ('sweet', 'salty', 'sour')
print(flavours, type(flavours))
f1, f2, f3 = flavours
print(f1, f2, f3)

flavours = ['sweet', 'salty', 'sour']
print(flavours, type(flavours))
f1, f2, f3 = flavours
print(f1, f2, f3)

('sweet', 'salty', 'sour') <class 'tuple'>
sweet salty sour
['sweet', 'salty', 'sour'] <class 'list'>
sweet salty sour

In [ ]:
#[] list
#() tuple

In [ ]:
# sets >> {}
colors = {'red', 'black', 'red', 'pink', 'Red', 'black', 'green'}
print(colors)
# no duplicates
# there is no order
colors.add('yellow')
print(colors)

{'Red', 'pink', 'black', 'red', 'green'}
{'Red', 'pink', 'black', 'red', 'yellow', 'green'}

In [ ]:
colors.add('yellow')
colors.add('yellow')
colors.add('yellow')
colors.add('yellow')
colors.add('yellow')
colors.add('yellow')
colors.add('yellow')
colors.add('yellow')
colors.add('yellow')
print(colors)

{'Red', 'pink', 'black', 'red', 'yellow', 'green'}

In [ ]:
setA = {1,2,3,4,5}
setB = {4,5,6,7,8}
print(setA, setB)
# union
print(setA.union(setB))
# intersection
print(setA.intersection(setB))
# difference
print(setA.difference(setB))

{1, 2, 3, 4, 5} {4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}

In [ ]:
### len

# str
name = 'ronaldo'
print(len(name))
quote='an apple a day keeps the doctor away'
print(len(quote))

7
36

In [ ]:
## non -empty list
player = ['ronaldo', 7, 1.87, True]
print(player, type(player), len(player))

## another list
groccery = [3, 'tables', 3, 'chairs', 0.5, 'apples', ['ronaldo', 7, 1.87, True]]
print(groccery, type(groccery), len(groccery))

['ronaldo', 7, 1.87, True] <class 'list'> 4
[3, 'tables', 3, 'chairs', 0.5, 'apples', ['ronaldo', 7, 1.87, True]] <class 'list'> 7

In [ ]:
days = ('sun', 'mon', 'tue', 'wed' ,'thu', 'fri' ,'sat')
print(days, type(days), len(days))

('sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat') <class 'tuple'> 7

In [ ]:
colors = {'red', 'black', 'red', 'pink', 'Red', 'black', 'green'}
print(colors, len(colors))

{'Red', 'pink', 'black', 'red', 'green'} 5

In [ ]:
# dict
# word: meaning
# key: value
# {key: value, key: value, key: value}
oxford = {'apple':'fruit', 'google':'company','trump':'president'}
print(oxford, type(oxford))
print(oxford['google'])

{'apple': 'fruit', 'google': 'company', 'trump': 'president'} <class 'dict'>
company